<div class="post">
	<h2><%= blog_post.title %></h2>
	<p>Posted: <%= blog_post.updated_at %></p>
	<p></p>
	<p><a class="btn btn-success" href="#" role="button">Read More &raquo;</a></p>
</div><!--/span-->