<div class="jumbotron">
<h1><%= @blog_post.title %></h1>
<p>Posted In: <span class="post_category"><%= link_to @blog_post.category.title , category_path(:id => @blog_post.category.id) %></span> On: <%= @blog_post.updated_at %></p>
<p><%= raw(@blog_post.content) %></p>
</div>